

<h1>AmazonTransactions</h1>

<div>

    <table id="amazonTrans" class="myTable">
        <thead>
            <tr>
                <th>ProductName </th>
                <th> Asin </th>
                <th> Price</th>
                <th> LastDayQtySold</th>
                <th> LastDayProfit</th>
                <th> LastUpdateDate</th>
            </tr>
        </thead>
    </table>
</div>