

<h1>EbayFoodStore</h1>

<table id="ebayFood" class="minimalistBlack ">
    <thead>
        <tr>
            <th> LastDayQtySold</th>
            <th> LastDayProfit</th>
            <th> TotalProducts</th>
        </tr>
    </thead>
</table>