

<h1>EbayTransactionPage</h1>

<div>
    <table id="ebayTrans" class="minimalistBlack ">
        <thead>
            <tr>
                <th>ProductName </th>
                <th> Asin </th>
                <th> Price</th>
                <th> LastDayQtySold</th>
                <th> LastDayProfit</th>
                <th> LastUpdateDate</th>
            </tr>
        </thead>
    </table>
</div>