

<h1>EbayTransactionPage</h1>



<table id="ebayTrans" class="myTable">

    <tr>
        <th>ProductName </th>
        <th> Asin </th>
        <th> Price</th>
        <th> LastDayQtySold</th>
        <th> LastDayProfit</th>
        <th> LastUpdateDate</th>
    </tr>

</table>
