@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">AmazonFoodStore</h1>
</div>

<table id="AmazonFood" class="myTable">
    <thead>
        <tr>
            <th> LastDayQtySold</th>
            <th> LastDayProfit</th>
            <th> TotalProducts</th>
        </tr>
    </thead>
</table>
